<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>EpProjectCars4U</display-name>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Profile</servlet-name>
		<display-name>Profile</display-name>
		<description></description>
		<servlet-class>Profile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ALogin</servlet-name>
		<display-name>ALogin</display-name>
		<description></description>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ADLogin</servlet-name>
		<display-name>ADLogin</display-name>
		<description></description>
		<servlet-class>ADLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>add_admin</servlet-name>
		<display-name>add_admin</display-name>
		<description></description>
		<servlet-class>add_admin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Updatecost</servlet-name>
		<display-name>Updatecost</display-name>
		<description></description>
		<servlet-class>Updatecost</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteVechicle</servlet-name>
		<display-name>DeleteVechicle</display-name>
		<description></description>
		<servlet-class>DeleteVechicle</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Addback</servlet-name>
		<display-name>Addback</display-name>
		<description></description>
		<servlet-class>Addback</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>add_vech</servlet-name>
		<display-name>add_vech</display-name>
		<description></description>
		<servlet-class>add_vech</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookDetails</servlet-name>
		<display-name>BookDetails</display-name>
		<description></description>
		<servlet-class>BookDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveDetails</servlet-name>
		<display-name>SaveDetails</display-name>
		<description></description>
		<servlet-class>SaveDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReturnVech</servlet-name>
		<display-name>ReturnVech</display-name>
		<description></description>
		<servlet-class>ReturnVech</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Verify</servlet-name>
		<display-name>Verify</display-name>
		<description></description>
		<servlet-class>Verify</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ver</servlet-name>
		<display-name>Ver</display-name>
		<description></description>
		<servlet-class>Ver</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ALogin</servlet-name>
		<url-pattern>/ALogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ADLogin</servlet-name>
		<url-pattern>/ADLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>add_admin</servlet-name>
		<url-pattern>/add_admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Updatecost</servlet-name>
		<url-pattern>/Updatecost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteVechicle</servlet-name>
		<url-pattern>/DeleteVechicle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Addback</servlet-name>
		<url-pattern>/Addback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>add_vech</servlet-name>
		<url-pattern>/add_vech</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookDetails</servlet-name>
		<url-pattern>/BookDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveDetails</servlet-name>
		<url-pattern>/SaveDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnVech</servlet-name>
		<url-pattern>/ReturnVech</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Verify</servlet-name>
		<url-pattern>/Verify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ver</servlet-name>
		<url-pattern>/Ver</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>home2.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
